@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
header{
    background-color: #7fa17a;
    backdrop-filter: blur(1000px);
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px ;
    margin: -50px 0;
}

.navbar .logo a{
    position: relative;
    left: -20px;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar{
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links{
    display: flex ;
    gap: 10rem;
    position: relative;

}
.navbar .links :hover {
    color: #f34d00;
}
.navbar .toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


.action-btn{

    background-color: rgb(255, 68, 0);
    color: #fff;
    padding: 0.5rem 4rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action-btn:hover {
    scale: 1.05;
    color: #fff;
}
.action-btn:active {
    scale: 0.95;
}
.dropdown-menu{
    z-index: 1000;
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    height: 0;
    width: 300px;
    background: #a9c69f;
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open {
    height: 240px;

}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;

}

section {
    padding: 0px 140px;
    margin: 50px 0;
}


.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/HD\ wallpaper_\ Mountains\,\ Firewatch\,\ Green\,\ Forest\,\ 4K\,\ Minimal\,\ sky\,\ beauty\ in\ nature\ \(2\).png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #ffffff;
    font-size: 5em;
    font-weight: 700;
}

.main h2 span {
    position: relative;
    display: inline-block;
    top: -20px;
    color: #fa4700;
    font-weight: 700;
}

.main h3 {
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    position: relative;
    top: 40px;
    color: #fff;
    background-color: #f34d00;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.5em 5.1875em;
    letter-spacing: 1px;
    border-radius: 50px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    color: #fff;
    background-color: #ff1e00;
    transform: scale(1.1);
}
.title {
    display: flex;
    justify-content: center;
    color: #ff1e00;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.title1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    position: relative;
    top: 20px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #ff1e00;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #ff1e00;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects {
    background-color: #597455;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #ff1e00;
}

.more-details:hover {
    color: #ff0000;
}


.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h6{
    font-size: 2rem;
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h6:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #ff1e00;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10PX;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btno{
    border-radius: 10PX;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #ff1e00;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btno:hover{
    background-color: #b41500;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  
  .responsive-container-block {
    min-height: 5px;
     background-color: #597455;
   height: 100%;
   width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
   background-color: #597455;
   height: 100%;
   width: 100%;
    
  }
  
  .responsive-container-block.Container {
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 90px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.heading {
    color: #fff;
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .text-blk.subHeading {
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .social-icon {
    font-size: 40px;
  }
  
  .social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .social-icon {
    margin: 0 50px 0 50px;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  @media (max-width: 1088px){
    .responsive-container-block{
        margin-top: -250PX;
    }


  }
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .socialIcon {
      width: 20px;
      height: 20px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .social-icon {
      margin: 0 25px 0 25px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .social-icons-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
  
    .social-icon {
      margin: 0 20px 0 20px;
    }
  }
@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}









@media(max-width:1090px){
    .title{
        font-size: 1.8em;
    }
    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    header{
        padding: 0px 40px;
        margin: -100px 0px;
    }

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }
    .navbar .toggle-btn{
        display: block;
    }
    .dropdown-menu {
        display: block;

    }

    section{
        padding: 0px 40px;
        margin: 100px 0px;
    }
    .main {
        position: relative;
        top: -150px;
    }
    body{
        font-size: 15px;
    }



    }
    @media(max-width:615px){
        .main-content h2{
            font-size: 0.8em;
        }
    
        .main-content h3{
            font-size: 1.4em;
        }
        body {
            font-size: 15px;
        }
    }
    @media(max-width:600px){
        body {
            font-size: 14px;
        }
    }
    @media(max-width:576px){
        header {
        margin: -100px 0px;
            padding: 0px 40px;

        }
        .dropdown-menu {
            left: 2rem;
            width: unset;
        }
        .main{
            padding: 0px 10px;
            margin: 100PX 0;
        }
        .main-btn {
            font-size: 15PX;
    }
    .main h3{
        font-size: 15px;
    }

}    
@media(max-width:555px){
    body {
        font-size: 14px;
    }
}
@media(max-width:511px){
    body {
        font-size: 13px;
    }


}
@media(max-width:480px){
    body {
        font-size: 12px;
    }


}
@media(max-width:420px){
    body {
        font-size: 10px;
    }


}
@media(max-width:380px){
    body{
        font-size: 10px;
    }
    .main{
        position: relative;
        top: -70px;
    }

}
